export(AC2AP)
export(AP2AC)
export(APmatrix)
export(LexRef5)
export(LexisMapAP)
export(PC2AC)
export(PC2AP)
importFrom(RColorBrewer,brewer.pal)
importFrom(compiler,cmpfun)
importFrom(fields,image.plot)
importFrom(grDevices,colorRampPalette)
importFrom(reshape2,acast)
importFrom(reshape2,melt)
